



  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="style.css">
 <title>Dashboard</title>
 <script src="chart.min.js"></script>

</head>
<body>
 <section class="wrapper position-relative ">
  
     <div class="container-fluid ">
              <div class="row-1 ">
                     

               
               
                 <div class="mainbar position-fixed d-flex flex-column align-items-center ">
                  
                     
                     <div class="stuck position-fixed top-0 right-0   ">
                  <nav class="navbaar   navbar navbar-expand-lg w-100 ">
                    
                         
                       
                     <div class="container-fluid tog-wrap    w-100">
                           
                        <div class=" head-img   d-lg-none  me-auto">
                     
                           <img class="img-fluid nav-logo " src="\images\dashboard logo.png" alt="">
                        </div>
                       
                        
                           
                         <div class="collapse d-none navbar-collapse" id="navbarNav">

                        <ul class=" navbar-nav  ">
                           
                           <li class="nav-item me-3 rnd-btn">
                              

                              <i class="fa-solid fa-list-check ikon-2"></i> 
                           
                           </li>
                           <li class="nav-item me-3 rnd-btn">
                              <i class="fa-solid fa-address-book ikon-2"></i> 

                           </li>
                           <li class="nav-item me-3 rnd-btn">
                              <i class="fa-regular fa-message ikon-2"></i> 

                           </li> 
                          
                         </ul>


                        </div><!-----collapse end-->
                        <ul class=" navbar-nav d-block ms-auto">

                           <li class="nav-item navbar-togler me-2 d-lg-none inl">
                              <div class="prof  rnd-btn">

                              <i class="fa-solid fa-bars ikon-2"></i> 
                        </div>
                           
                           </li>

                           <li class="nav-item me-2 inl">
                              <div class="prof  rnd-btn">

                              <i class="fa-solid fa-gear ikon-2"></i> 
                        </div>
                           
                           </li>

                           <li class="nav-item me-2 inl">
                              <div class="prof  rnd-btn">

                              <i class="fa-solid fa-flag-usa text-danger  ikon-2"></i> 
                        </div>
                           
                           </li>
                           <li class="nav-item  inl">
                              <div class="prof  rnd-btn-2 rounded-circle">

                              <i class="fa-ikon-2 "><img class="rounded-circle" src="/images/baddo.jpeg" alt=""></i> 
                        </div>
                           
                           </li> 
                          
                         </ul>

                     </div><!-------container end-->
                  
                  </nav><!-------nav end-->
               </div>
                  


               
               <div class=" sidebar ">
           












<div class="dashboard-side">

    <div class="logo d-flex align-items-center position-fixed ">
       
       <img class=" me-3 ms-2" src="\images\dashboard logo.png" alt="">

        <h1 class="">Vuse Admin</h1>
        <h1 class="text-nowrap">Vuse Admin</h1>
       </div>
   

    <div class="dashboard  text-light">
      
       

        <div class="dash outshine d-flex justify-content-between">
            <div class="dash-sub d-flex justify-content-between w-100">
         <i class="fa-solid fa-table-cells-large ikon ms-2"></i>
         <p class="ps-2">Dashboard</p>


            </div>
         <i class="fa-solid fa-mobile-screen ikon"></i>

            
        </div>

        <div class="opera d-flex align-items-center  pt-3 outshine w-100">
         <h1 class="ikon ">OP</h1>
         <P class="pt-2">Operational</P>
        </div>

        
        <div class="analy d-flex align-items-center pt-3">
          <h1 class="ikon ">AN</h1>
          <P class="pt-2">Analytical</P>
         </div>

        
        <div class="app pt-3">
        <h6 class="pt-3 ms-4">App</h6>
        <div class="contact d-flex pt-3">
         <i class="fa-solid fa-address-book ikon "></i>
         <p class="ps-2">Contact</p>
        </div>

        <div class="chat d-flex pt-3">
         <i class="fa-regular fa-message ikon "></i>
         <p class="ps-2">Chat</p>
        </div>
          


        </div>




        <div class="style pt-3 ">
         <h6 class="pt-3 ms-4">Style & User Interface</h6>
         <div class="color d-flex pt-3">
          <i class="fa-solid fa-palette ikon "></i>
          <p class="ps-2">Color</p>
         </div>

         <div class="icon d-flex  pt-3">
          <i class="fa-regular fa-images ikon "></i>
          <p class="ps-2">Icons</p>
         </div>
           
         <div class="help d-flex pt-3">
             <i class="fa-solid fa-circle-question ikon "></i>
             <p class="ps-2">Helpers</p>
            </div>

            <div class="bord d-flex   justify-content-between pt-3">
                <div class="bord-sub d-flex justify-content-between w-100 ">
             <i class="fa-solid fa-border-top-left ikon ms-2"></i>
             <p class="ps-3">Border Radius</p>
                </div>
             <span class="new"><p>new</p></span>
            </div>

            <div class="txt d-flex justify-content-between pt-3">
               <div class="txt-sub d-flex justify-content-betweenw w-100">
             <i class="fa-solid fa-text-slash ikon ms-2"></i>
             <p class="ps-3">Text & Typography</p>
               </div>
             <span class="new"><p>new</p></span>
            </div>

            <div class="motion d-flex pt-3">
             <i class="fa-solid fa-play ikon "></i>
             <p class="ps-2">Motion</p>
            </div>


            <div class="prog d-flex align-items-center pt-3">
             <h1 class="ikon ">PR</h1>
             <p class="ps-2 pt-2">Programmatic Scrolling</p>
            </div>

            <div class="form d-flex  pt-3">
             <i class="fa-solid fa-arrow-right-from-bracket ikon "></i>
             <p class="ps-2">Forms</p>
            </div>
         
         </div>

   
          
        <div class="pages pt-3">
         <h6 class="pt-3 ms-4">Pages</h6>
         <div class="profile d-flex pt-3">
          <i class="fa-solid fa-user-group ikon "></i>
          <p class="ps-2">Profile</p>
         </div>

         <div class="coming d-flex pt-3">
          <i class="fa-regular fa-clock ikon "></i>
          <p class="ps-2">Coming Soon</p>
         </div>

      
         <div class="maintain d-flex pt-3">
             <i class="fa-solid fa-wrench ikon "></i>
             <p class="ps-2">Maintenance</p>
            </div>

            <div class="auth d-flex  justify-content-between pt-3">
                <div class="auth-sub d-flex  justify-content-between w-100">
             <i class="fa-solid fa-lock ikon ms-2 "></i>
             <p class="ps-3">Authentication</p>
                </div>
             <i class="fa-solid fa-mobile-screen ikon"></i>
            </div>

            <div class="error d-flex justify-content-between pt-3">
                <div class="error-sub d-flex justify-content-between w-100">
             <i class="fa-solid fa-circle-exclamation ikon ms-2"></i>
             <p class="ps-3">Error</p>
                </div>
             <i class="fa-solid fa-mobile-screen ikon"></i>
            </div>


        </div>
       

           <div class="ui pt-3">
            <h6 class="pt-3 ms-4">Ui Components</h6>
            <div class="chart d-flex  justify-content-between pt-3 ">
                <div class="chart-sub d-flex justify-content-between w-100">
             <i class="fa-solid fa-square-poll-vertical ikon ms-2"></i>
             <p class="ps-3">Charts</p>
                </div>
             <i class="fa-solid fa-mobile-screen ikon"></i>
            </div>
            
            <div class="wig d-flex   justify-content-between pt-3">
                <div class="wig-sub d-flex justify-content-between w-100">
             <i class="fa-solid fa-cubes ikon ms-2"></i>
             <p class="ps-3">Wigets</p>
                </div>
             <i class="fa-solid fa-mobile-screen ikon"></i>
            </div>

            <div class="vue d-flex  justify-content-between pt-3">
                <div class="vue-sub d-flex justify-content-between w-100 ">
             <i class="fa-solid fa-table-cells-large ikon ms-2"></i>
             <p class="ps-3">Vuetify</p>
                </div>
             <i class="fa-solid fa-mobile-screen ikon"></i>
            </div>


           </div>



          <div class="dir pt-3">

             <h6 class="pt-3 ms-4">Directives</h6>
             <div class="direct d-flex  justify-content-between pt-3">
                <div class="direct-sub d-flex justify-content-between w-100">
                 <i class="fa-solid fa-mobile-screen ikon ms-2"></i>
                 <p class="ps-3">Directives</p>
                </div>
                 <i class="fa-solid fa-mobile-screen ikon"></i>
                </div>
          </div>

          <div class="doc pt-3">

             <h6 class="pt-3 ms-4">Guides</h6>
             <div class="document d-flex pt-3 ">
                 <i class="fa-regular fa-file ikon "></i>
                 <p class="ps-2">Documentation</p>
                 
                </div>
          


       </div>

       </div>

    

   

   </div>
   
</div>






  





   
         

       
            <div class="row cads gy-4 w-100 mb-4  px-4">
               <div class="col-lg-3  col-md-6 col-sm-12 cad">
                  <div class="card p-4" >
                     <h5>Sales</h5>
                     <div class="scores d-flex justify-content-between ">
                        <div class="score-cont ">
                        <h3 class="pt-4">106K</h3>
                        <div class="d-flex  ikon-4">
                           <i class="fa-solid fa-arrow-up"></i>
                           <p class="ps-2 pt-1">+4.35%</p>
                        </div>
                        <p class="para mt-2 rsp">Since last month</p>
                     </div>
                        <div class="pt-5 ">
                           <i class="fa-solid fa-box rnd-btn ikon-2"></i>
                        </div>
                     </div>
                   </div>
               </div>

                <div class="col-lg-3  col-md-6 col-sm-12 cad">
                  <div class="card p-4" >
                     <h5>New Users</h5>
                     <div class="scores d-flex justify-content-between ">
                        <div class="score-cont ">
                        <h3 class="pt-4">3214</h3>
                        <div class="d-flex  ikon-4">
                           <i class="fa-solid fa-arrow-up"></i>
                           <p class="ps-2 pt-1">+2.25%</p>
                        </div>
                        <p class="para mt-2 rsp">Since last month</p>
                     </div>
                        <div class="pt-5 ">
                           <i class="fa-solid fa-user-group rnd-btn ikon-2 users-grp"></i>
                        </div>
                     </div>
                   </div>
               </div>
               <div class="col-lg-3  col-md-6 col-sm-12 cad">
                  <div class="card p-4"  >
                     <h5>Traffic</h5>
                     <div class="scores d-flex justify-content-between ">
                        <div class="score-cont ">
                        <h3 class="pt-4">350K</h3>
                        <div class="d-flex  ikon-4">
                           <i class="fa-solid fa-arrow-up"></i>
                           <p class="ps-2 pt-1">+4.35%</p>
                        </div>
                        <p class="para mt-2 rsp">Since last month</p>
                     </div>
                        <div class="pt-5 ">
                           <i class="fa-solid fa-right-left rnd-btn ikon-2"></i>
                        </div>
                     </div>
                   </div>
               </div>
               <div class="col-lg-3  col-md-6 col-sm-12 cad">
                  <div class="card p-4" >
                     <h5>Performance</h5>
                     <div class="scores d-flex justify-content-between ">
                        <div class="score-cont ">
                        <h3 class="pt-4">78.67%</h3>
                        <div class="d-flex  ikon-4">
                           <i class="fa-solid fa-arrow-up"></i>
                           <p class="ps-2 pt-1">+4.35%</p>
                        </div>
                        <p class="para mt-2 rsp">Since last month</p>
                     </div>
                        <div class="pt-5 ">
                           <i class="fa-solid fa-square-poll-vertical rnd-btn ikon-2"></i>
                        </div>
                     </div>
                   </div>
               </div>
            </div> <!-----end-->
            <div class="cad-1 w-100 d-sm-flex d-block justify-content-between  px-4">
                <div class="card pie-cad my-4" >
                   <div class="card-body">
                      <div class="graph d-flex justify-content-between align-items-center">
                         <h3>Revenue</h3>

                         <div class="graph-btn d-flex me-4 pb-3">
                            <div class="btn-group ">
                               
                               <button class="btn btn-twin">Monthly</button>
                               <button class="btn text-light">Weekly</button>
                             </div>
                                 

                         </div>

                      </div>
                      


       
                      <canvas id="myChart" width="400" height="400"></canvas>
                      <script>
                      const ctx = document.getElementById('myChart').getContext('2d');
                      const myChart = new Chart(ctx, {
                          type: 'pie',
                          data: {
                              labels: ['jan', 'feb', 'mar', 'apr', 'may', 'june','jul', 'aug', 'sept', 'oct', 'nov', 'dec'],
                              datasets: [{
                                  label: '% of Votes',
                                  data: [20, 40, 10, 50, 20, 30,10, 50, 30, 10, 20, 20],
                                  backgroundColor: [
                                      'red',
                                      'yellow',
                                      'blue',
                                      'green',
                                      'pink',
                                      'orange',
                                      'purple',
                                      'violet',
                                      'indigo',
                                      'cyan',
                                      'white',
                                      'black'
                                      
                                  ],
                                  borderColor: [
                                  'red',
                                      'yellow',
                                      'blue',
                                      'green',
                                      'pink',
                                      'orange',
                                      'purple',
                                      'violet',
                                      'indigo',
                                      'cyan',
                                      'white',
                                      'black'
                                  ],
                                  borderWidth: 1
                              }]
                          },
                          options: {
                              scales: {
                                  y: {
                                      beginAtZero: true
                                  }
                              }
                          }
                      });
                      </script>
                      
       
             
                
                   </div>
                 </div>
             




                 <div class="card bar-cad my-4">
                   <div class="card-body">
                      <h3>Visits</h3>
                      <canvas id="myChart1" width="400" height="400"></canvas>
                      <script>
                      const ctx1 = document.getElementById('myChart1').getContext('2d');
                      const myChart1 = new Chart(ctx1, {
                          type: 'bar',
                          data: {
                              labels: ['jan', 'feb', 'mar', 'apr', 'may', 'june','jul', 'aug', 'sept', 'oct', 'nov', 'dec'],
                              datasets: [{
                                  label: '% of Votes',
                                  data: [20, 40, 10, 50, 20, 30,10, 90, 70, 100, 20, 80],
                                  backgroundColor: [
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)'
                                      
                                  ],
                                  borderColor: [
                                  'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(54, 162, 235, 0.2)'
                                  ],
                                  borderWidth: 1
                              }]
                          },
                          options: {
                              scales: {
                                  y: {
                                      beginAtZero: true
                                  }
                              }
                          }
                      });
                      </script>
                      
       
                   </div>
                 </div>


             </div><!-----end-->
             <div class="blog-content w-100 m-4 px-4 pt-3">
                <div class="row ">
                   <div class="col-lg-4 col-md-6 col-sm-12 ">
                      <div class="card" >
                         <div class="card-body d-flex justify-content-between align-items-center">
                           <h5 class="card-title pt-2">Latest Media</h5>
                           <i class="fa-solid fa-ellipsis-vertical "></i>
                   </div>
                     <div class="blog   ">
                      <img class="img-fluid" src="\images\images.jpeg" alt="">
                      <div class="blog-cont">
                         <h3 class="">Mary Beveridge</h3>
                         <h4>Aug 01, 2022</h4>
                      </div>
                      <div class="btn">Published</div>
                     </div>

                     <div class="blog ">
                      <img class="img-fluid" src="\images\images (1).jpeg" alt="">
                      <div class="blog-cont">
                         <h3>Mary Beveridge</h3>
                         <h4>Aug 01, 2022</h4>
                      </div>
                      <div class="btn">Published</div>

                     </div>

                     <div class="blog ">
                      <img class="img-fluid" src="\images\download.jpeg" alt="">
                      <div class="blog-cont">
                         <h3>Mary Beveridge</h3>
                         <h4>Aug 01, 2022</h4>
                      </div>
                      <div class="btn gress">Progress</div>

                     </div>

                     <div class="blog">
                      <img class="img-fluid" src="\images\images (2).jpeg" alt="">
                      <div class="blog-cont">
                         <h3>Mary Beveridge</h3>
                         <h4>Aug 01, 2022</h4>
                      </div>
                      <div class="btn rej">Rejected</div>

                     </div>


                     <div class="blog">
                      <img src="\images\images (1).jpeg" alt="">
                      <div class="blog-cont">
                         <h3>Mary Beveridge</h3>
                         <h4>Aug 01, 2022</h4>
                      </div>
                      <div class="btn">Published</div>

                     </div>

                     <div class="blog ">
                      <img class="img-fluid m-auto" src="\images\images (12).jpeg" alt="">
                      <div class="blog-cont d-flex justify-content-center align-items-center m-auto">
                         <div class="blog-cont-ryt">
                         <h3>Mary Beveridge</h3>
                         <h4>Aug 01, 2022</h4>
                      </div>
                         
                      </div>

                     </div>
                           
                         </div>
                       </div>
                   <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="card pt-2">
                        <div class="card-test d-flex align-items-center justify-content-between mx-2">
                         <div class="card-test-1 d-flex align-items-center">
                         <img class="img-fluid" src="\images\baddo.jpeg" alt="">
                         <p class="ps-3 pt-3">King Baddo</p>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical px-2"></i>

                      </div>
                         <img class="img-fluid baddo" src="\images\baddo.jpeg" alt="">
                         <div class="blog-cont">
                            <h3 class="fs-2 fw-300">Street Uti</h3>
                            <h4>Aug 01, 2022</h4>

                         </div>
                         <p class=" para2">Turns out semicolon-less style is easier and safer in TS because most gotcha edge cases are type invalid as well.</p>

                          <div class="comm d-flex">
                            <i class="fa-solid fa-heart pt-1"></i>
                            <P>213 Likes</P>
                            <i class="fa-regular fa-comment-dots pt-1"></i>
                            <p>123 comments</p>
                          </div>
                       </div>

                       <div class="card mt-4 pt3" >
                         <div class="card-body">
                           <h5 class="card-title">Task Status</h5>
                           <h6 class="card-subtitle text-muted">On Going</h6>


                          <div class="barrs d-flex justify-content-center flex-column">
                            <div class="barrs-cont">
                               <div class="bar-1 d-flex justify-content-between">
                                 <p class="">Sketch File</p>
                                 <p class="">4 weeks</p>
                               </div>
                               <div class="progress">
                                  <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="barrs-cont">

                                <div class="bar-1 d-flex justify-content-between">
                                  <p>Adobe XD File</p>
                                  <p>3 weeks</p>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="barrs-cont">

                                 <div class="bar-1 d-flex justify-content-between">
                                  <p>UI Implementation</p>
                                  <p>6 weeks</p>
                                </div>
                                  
                           <div class="progress">
                               <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>



                                

                                
                            </div><!----barrs-cont-->
                        
                        </div>
                                        
                        <h6 class="card-subtitle mt-3 text-muted">Upcoming</h6>


                       <div class="barrs d-flex justify-content-center flex-column">
                         <div class="barrs-cont">
                            <div class="bar-1 d-flex justify-content-between">
                              <p class="">Upgrade Vuetify</p>
                              <p class="">5 weeks</p>
                            </div>
                            <div class="progress">
                               <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                         </div>
                         <div class="barrs-cont">

                             <div class="bar-1 d-flex justify-content-between">
                               <p>Update Vue.js Version</p>
                               <p>3 weeks</p>
                             </div>
                             <div class="progress">
                               <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                         </div>
                         <div class="barrs-cont">

                              <div class="bar-1 d-flex justify-content-between">
                               <p>Deployment</p>
                               <p>2 weeks</p>
                             </div>
                               
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>



                             

                             
                         </div>


                       </div>
                            


                       </div>
                     </div><!---card end-->

                     </div> <!---col end-->

                 <div class="col-lg-4 my-lg-0 my-5 col-sm-12">
                    <div class="card third-cad">
                       <div class="card-body d-flex align-items-center justify-content-between">
                         <h5 class="card-title pt-2">Tickets</h5>
                           <button class="btn btnnn">3 ACTIVE TASKS</button>
                          <button class="btn btnn">2 COMPLETED TASKS</button>
                       </div>
                       <div class="third-col mb-4 mt-2 mx-3">
                          <p class="text-muted my-auto  ps-2">Add New</p>
                       </div>

                       <div class="third-col mb-4 mt-2 mx-3">
                          <div class="chec d-flex m-2 justify-content-center">
                             <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  
                                </label>
                              </div>

                              <div class="chec-write ">
                                   
                                <h4 class="text-muted">[PRE-111] Logo Making
                                   </h4>
                                   <p class="text-muted">Culpa sint aliqua adipisicing officia aliquip excepteur occaecat dolor velit culpa ullamco.</p>
                                   <button class="btn chec-btn text-light">UX/UI</button>
                              </div>
                              
                      <i class="fa-solid fa-ellipsis-vertical px-2 pt-1"></i>


                          </div>

                          

                       
                       </div>


                       <div class="third-col mb-4 mt-2 mx-3">
                          <div class="check-1 d-flex m-2 justify-content-center">
                             <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  
                                </label>
                              </div>

                              <div class="chec-write ">
                                   
                                <h4 class="text-muted">
                                   [UI-145] WireFrames and Design
                                   
                                   </h4>
                                   <p class="text-muted">Minim fugiat labore est enim consectetur anim commodo irure reprehenderit est.</p>
                                   <button class="btn chec-btn1 text-light">FrontEnd</button>
                              </div>
                              
                      <i class="fa-solid fa-ellipsis-vertical px-2 pt-1"></i>


                          </div>

                          

                       
                       </div>


                       <div class="third-col mb-4 mt-2 mx-3">
                          <div class="check-2 d-flex m-2 justify-content-center">
                             <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  
                                </label>
                              </div>

                              <div class="chec-write ">
                                   
                                <h4 class="text-muted">
                                   [SV-180] Gather API requirement
                                   </h4>
                                   <p class="text-muted">Officia consectetur consectetur adipisicing consectetur commodo enim tempor nulla reprehenderit occaecat.
                                   </p>
                                   <button class="btn chec-btn2 text-light">BackEnd</button>
                              </div>
                              
                      <i class="fa-solid fa-ellipsis-vertical px-2 pt-1"></i>


                          </div>

                          

                       
                       </div>




                          
              



                     </div><!--card-ending-->


                     <div class="card mt-4 pt-3">
                       <div class="card-body">
                         <h5 class="card-title">Members</h5>
                        <div class="inp">
                          <input type="text" placeholder="Search">
                        </div>
                       </div>
                          <div class="members-page">
                             <div class="mem d-flex jus align-items-center">
                                <div class="name-tag d-flex">
                                <img class="img-fluid" src="\images\baddo.jpeg" alt="">

                                   <div class="name-tag-1 ps-3">

                                   <h3>Mary Slesor</h3>
                                   <h4>Head Designer</h4>
                                </div>
                            </div>
                            <i class="fa-solid fa-plus rnd-btn"></i>
                         </div>


                        
                         <div class="mem d-flex jus align-items-center">
                            <div class="name-tag d-flex">
                            <img class="img-fluid" src="\images\baddo.jpeg" alt="">

                               <div class="name-tag-1 ps-3">

                               <h3>Blessing Baba</h3>
                               <h4>Dancer</h4>
                            </div>
                         </div>
                            <i class="fa-solid fa-plus rnd-btn"></i>
                         </div>









                         <div class="mem d-flex jus align-items-center">
                            <div class="name-tag d-flex">
                            <img class="img-fluid" src="\images\baddo.jpeg" alt="">

                               <div class="name-tag-1 ps-3">

                               <h3>Abel Baba</h3>
                               <h4>Programmer</h4>
                            </div>
                         </div>
                            <i class="fa-solid fa-plus rnd-btn"></i>
                         </div>










                         <div class="mem d-flex jus align-items-center">
                            <div class="name-tag d-flex">
                            <img class="img-fluid" src="\images\baddo.jpeg" alt="">

                               <div class="name-tag-1 ps-3">

                               <h3>Mary Amaka</h3>
                               <h4>Head Designer</h4>
                            </div>
                         </div>
                            <i class="fa-solid fa-plus rnd-btn"></i>
                         </div>









                         <div class="mem d-flex jus align-items-center">
                            <div class="name-tag d-flex">
                            <img class="img-fluid" src="\images\baddo.jpeg" alt="">

                               <div class="name-tag-1 ps-3">

                               <h3>Billy Gin</h3>
                               <h4>Designer</h4>
                            </div>
                         </div>
                            <i class="fa-solid fa-plus rnd-btn"></i>
                         </div>






                      </div>
                     

                        



                 </div>





          </div> <!---col end-->
          </div>  <!--end of 2nd row-->






</div>
<div class="footer d-flex justify-content-between mt-4 px-3 mx-4 pt-3 px-4">
 <p class="text-light my-auto ps-2">COPYRIGHT ©2022<span><a href="#"> Wazzi</a></span></p>
 <div class="foot d-flex">
 <p class="text-light my-auto">Handcrafted by </p>
      <i class="fa-solid fa-heart pt-1  my-auto"></i>

 </div>
</div>
   

</div> <!-----mainbar-->  
</div><!---row end-->
</div><!---container end-->



</section><!-----wrapper end-->


                             




