*{
    margin: 0;
    padding: 0;
}
html,body{
overflow-x: hidden;


}
body{
    
    
    font-family: sans-serif;
    background: rgb(41, 45, 50);
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 20%;
    z-index: 784880009838333333333333333333333;
    overflow-y: scroll;
    height: 100vh;
    background-color: rgb(41, 45, 50);
    box-shadow: -3px 0px 2px 2px rgba(80, 79, 79, 0.7), 0px 8px 6px 8px rgba(7, 7, 7, 0.5);

      
}

.dashboard{
padding-top: 100px;

}
.dashboard P{
   text-align: left;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}
.dashboard h6{
    font-size: 15px;
    color: rgb(158,160,162);
}

.dashboard h1{
    font-size: 15px;
    cursor: pointer;
}


    

.new{
    margin-right: 10px;
}
.new p{
    text-align: center;
    width: 3rem;
    border-radius: 50px;
    background-color: rgb(0,151,167);
    cursor: pointer;
}


.mainbar{
     z-index: 1234567890233647477383838;
height: 100vh;
width: 80%;
position: fixed;
right: 0;
    overflow-x: hidden;
 overflow-y: scroll;
 display: none;
 

 
 
    
    
   
}

.mainbar-cont{  
    
}

.mainbar::-webkit-scrollbar{
    width: 6px;
}
.mainbar::-webkit-scrollbar-track{
    background-color: white;
    box-shadow: 3px 0 10px 10px rgba(29, 32, 35, 0.7) ;
}
.mainbar::-webkit-scrollbar-thumb{
    background-color: rgb(52, 52, 53);
    

}
.mainbar::-webkit-scrollbar-thumb:hover{
    background-color: black;

}
.head-img{
    
    width: 20%;
}

.head-img img{
   object-fit: contain; 
}
.navbaar{
    margin-top: 1rem;
    margin-bottom: 8rem;
    z-index: 17722828828;
    height: 4rem;
    background-color: rgb(39,39,39);
    box-shadow: -3px 0px 2px 2px rgba(80, 79, 79, 0.7), 0px 8px 6px 8px rgba(7, 7, 7, 0.5);

 

    
}



.logo{
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: rgb(41, 45, 50);
    width: 19.5%;
    height: 5rem;
    
}

.logo h1{
    width: 100%;
  padding-top: auto;
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 151, 167);
}

.logo img{
    
    width: 17%;

}

.logo1{
    padding: auto;
    margin: auto;
    background-color: rgb(41, 45, 50);
    width: 49%;
    height: 5rem;
    position: fixed;
    top: 0;
    
}

.logo1 h1{
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 151, 167);
}

.logo1 img{

}
.sidebar::-webkit-scrollbar{
    width: 6px;
}
.sidebar::-webkit-scrollbar-track{
    background-color: rgb(41, 45, 50);
    box-shadow: 0px 8px 6px 8px rgba(7, 7, 7, 0.5);

}
.sidebar::-webkit-scrollbar-thumb{
    background-color: rgb(29, 32, 35);
}
.sidebar::-webkit-scrollbar-thumb:hover{
    background-color: black;
}
.outshine{
    color: rgb(0, 151, 167);
    
}
.dashboard .row{
    padding-top: 10px;
    
}
.dashboard .new{
    text-align: center;
    border-radius: 50px;
    background-color: rgb(0,151,167);
}
.opera{
    height: 3rem;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 3px 3px 2px 2px rgba(7, 7, 7, 0.5);
    
      border: none;
     
    border-radius: 50px;
}
.ikon{
    text-align: center;
    width: 30%;
    font-size: 20px; 
    cursor: pointer;
    
    
}
.ikon-2{
    color: rgb(0,151,167);
    font-size: 20px;
}

.ikon-3{
    
    font-size: 20px;
}

.rnd-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    border: none;
    cursor: pointer;
   box-shadow: -3px 0px 1px 2px rgba(78, 77, 77, 0.7), 0px 8px 6px 8px rgba(7, 7, 7, 0.5);

    

}


.rnd-btn-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    
    cursor: pointer;
    box-shadow: 0px 0px 1px 0 rgba(78, 77, 77, 0.7), 0px 8px 6px 8px rgba(7, 7, 7, 0.5);



    

}


.rnd-btn-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border: 2px solid black;
    border-radius: 50%;
   
    
    cursor: pointer;
   

    

}
.dash-1{
    margin-top: 6rem;
}
.nav-logo{
    
    height: 3rem;


}

.cads{
    margin-top: 7rem;
    

}
.stuck{
    width: 77.5%;
    z-index: 62626666666262626262626262626262626;
    height: 7rem;
    
    
}


/*---------cards---------*/
.card{
    background-color: rgb(41, 45, 50);
     color: white;
     box-shadow: -3px 0px 2px 2px rgba(80, 79, 79, 0.7), 0px 8px 6px 8px rgba(7, 7, 7, 0.5);


}
.card h5{
    font-size: 23px;
}

.fa-box{
    color: rgb(33,150,243);
}
.users-grp{
    color: rgb(255,143,0);
}
.fa-right-left{
    color: rgb(245,0,87);
}
.ikon-4{
    color: rgb(0,151,167);
    font-size: 17px;
}
.score-cont{
    line-height: 5px;
}
.score-cont h3{
    font-size: 37px;
}
.score-cont .para{
    font-size: 17px;
    color: rgb(158,160,162);
}
.btn-twin{
   color: rgb(255,143,0);
}

.btn-twin:hover{
    color: rgb(255,143,0);
 }
.btn-group{
    background-color: rgb(39,39,39);
    box-shadow: -3px 0px 6px 5px rgba(54, 54, 54, 0.7), 0px 8px 6px 8px rgba(7, 7, 7, 0.5);

}

/*----blog--------*/
.blog{
     margin: 20px;
    box-shadow: -3px 0px 2px 2px rgba(80, 79, 79, 0.7), 0px 8px 6px 8px rgba(7, 7, 7, 0.5);
   display: flex;
   align-items: center;

}
.blog-cont{
    display: inline;
}
.blog-cont h3{
    font-size: 14px;
    padding-left: 10px;
    
    
}

.blog-cont h4{
    font-size: 14px;
    padding-left: 10px;
    color: rgb(158,160,162);

}
.blog .btn{
    margin-left: 20px;
    font-size: 15px;
    color: white;
    background-color: rgb(29,233,182);
}
.blog .gress{
    background-color: rgb(255,196,0);
}

.blog .rej{
    background-color: rgb(244,67,54);
}
.blog img{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;


    object-fit: cover;
    width: 30%;
    height: 5rem;
    border-radius: 10px;
}
.card h5{
    font-size: 23px;
}


.card-test img{
    width: 15%;
    border-radius: 50%;
}

.baddo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.para2{
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(158,160,162);

}
.fa-heart{
    padding-left: 10px;
    padding-right: 10px;
    color: red;
    
}
.fa-comment-dots{
    padding-left: 35px;
    padding-right: 10px;
}

.barrs{
    height: 13rem;
    box-shadow: -3px 0px 2px 2px rgba(80, 79, 79, 0.7), 0px 8px 6px 8px rgba(7, 7, 7, 0.5);
    line-height: 1px;
  
}
.barrs-cont{
margin: 20px;
}
.bar-1 p{
    
 font-size: 13px;
}
.progress{
 height: 6px;
 
}


.progress-bar{
    
    background: rgb(0,151,167);
   }
   

/*----3rd card-----------*/
.card-body .btnnn{
    font-size: 10px;
    color: white;
    background-color: rgb(0,151,167);
    box-shadow: -3px 0px 2px 2px rgba(80, 79, 79, 0.7), 0px 8px 2px 2px rgba(7, 7, 7, 0.5);

    border-radius: 50px;
}
.card-body .btnn{
    font-size: 10px;
    color: white;
    background-color: rgb(0,151,167);
    box-shadow: -3px 0px 2px 2px rgba(80, 79, 79, 0.7), 0px 8px 2px 2px rgba(7, 7, 7, 0.5);

    border-radius: 50px;
    background-color: rgb(29, 32, 35);
}

.card-body .btnn:hover{
    background-color: rgba(29, 32, 35, .2);
}

.third-col{
    
    box-shadow: -3px 0px 2px 2px rgba(80, 79, 79, 0.7), 0px 8px 6px 8px rgba(7, 7, 7, 0.5);
    
}
.inp{
    box-shadow: inset 0 10px 10px rgba(16, 18, 19, 0.7) ;
    
}
input{
    width: 100%;
    height: 2rem;
    background-color: rgb(41, 45, 50);
    outline: none;
    color: white;
    padding-left: 5px;
}
.mem{
    margin: 10px;
}
.mem img{
    width: 15%;
    border-radius: 50%;
}

.name-tag-1 h3{
    font-size: 14px;
    
    
    
}

.name-tag-1 h4{
    font-size: 14px;
    
    color: rgb(158,160,162);

}
.fa-plus{
  color: green;
  margin-bottom: 10px;
}
.chec-btn {
    background-color: rgb(240,98,146);
    border-radius: 50px;
}
.chec::before{
    content: " ";
    width: .3rem;
    height: 3.5rem;
    background-color: rgb(240,98,146);
    position: absolute;
    left: 0;
    top: 25%;
    margin-left: 15px;


}

.chec-btn1 {
    background-color: rgb(33,150,243);
    border-radius: 50px;
}

.check-1::before{
    content: " ";
    width: .3rem;
    height: 3.5rem;
    background-color: rgb(33,150,243);

    position: absolute;
    left: 0;
    top: 55%;
    margin-left: 15px;


}

.inl{
    display: inline-block;
    
}
.inl img{
    width: 100%;
}
.inl .gear{

}



.chec-btn2 {
    background-color: rgb(158,158,158);
    border-radius: 50px;
}

.check-2::before{
    content: " ";
    width: .3rem;
    height: 3.5rem;
    background-color: rgb(158,158,158);


    position: absolute;
    left: 0;
    top: 85%;
    margin-left: 15px;


}
.pie-cad{
    width: 49%;
}
.bar-cad{
    width: 49%;
}
.footer{
    width: 96%;
    
    background-color: rgb(29, 32, 35);
    box-shadow: -3px 0px 2px 2px rgba(80, 79, 79, 0.7), 0px 8px 6px 8px rgba(7, 7, 7, 0.5);
  
}

.footer span a{
    color: rgb(0,151,167);
}
.dash-side{

    position: fixed;
    left: -1000px;
    margin-top: 1rem;
    background-color: rgb(41, 45, 50);
    z-index: 4444444444444444444;
    overflow-y: scroll;
    height: 100vh;
    width: 50vw;
    
}
.dash-side::-webkit-scrollbar{
    width: 6px;
}
.dash-side::-webkit-scrollbar-track{
    background-color: rgb(41, 45, 50);
    box-shadow: 0px 8px 6px 8px rgba(7, 7, 7, 0.5);

}
.dash-side::-webkit-scrollbar-thumb{
    background-color: rgb(29, 32, 35);
}
.dash-side::-webkit-scrollbar-thumb:hover{
    background-color: black;
}

.tog-wrap{
    
}
.tog-wrapper-1 {
    width: 80;
}
.txt .new:after{
    content: "new";
    width: 40px;
    font-size: 1.2rem;
    border-radius: 50px;
    margin-left: 5rem;
    color: rgb(0, 151, 167);
}

.txt .new-1:after{
    content: "new";
    margin-left: 3.3rem;
    font-size: 1.2rem;
    border-radius: 50px;
    color: rgb(0, 151, 167);
}
.txt p{
   
}
.sub-btn{
    cursor: pointer;
}
 .new p{
    
    
    
}

.new {

    
}
@media(max-width: 992px){
    

.logo{
    
    width: 75%;
    
    
}

.logo h1{
    width: 100%;

    font-size: 20px;
   
}

.logo img{
    
    object-fit: contain; 

}

    .tog-wrap{
        width: 70%;
    }
    
 
/*
    .sidebar{

        width: 100vh;
        position: absolute;
         left: -400px;
         animation: drag 1s ease-in forwards ;
    }
    @keyframes drag{
        0%{transform: translateX(0);}
        100%{transform: translateX(400px);}
    }
 */
 

 .navbaar{

 } .cads{
        
    margin-top: 7rem;
}

 

.stuck{
    width: 92%;

height: 7rem;

}

 
    .mainbar{
         width: 100%;
        
    }
    
   .sidebar{
    width: 80vw;
    left: -1000px;
}

.nav-btn{

left: 0px;
animation: drag 1s ease-in-out;
transition: all;
}
@keyframes drag {
0%{transform: translateX(-1000px);}
100%{transform: translateX(0px);}

}


.rtn{
    left: -1000px;
animation: return 1s ease-in-out;

}
   
@keyframes return {
    0%{transform: translateX(0px);}
    100%{transform: translateX(-1000px);}
    
    }
    
}

@media(max-width: 768px){
    .cads{
        
        margin-top: 7rem;
    }
    
     
 
.stuck{
    
}

   
}

@media(max-width: 350px){
   

    .rnd-btn{
       
        height: 1.5rem;
        width: 1.5rem;
       
        
    
    }
    
    
    .rnd-btn-1{
       
        height: 1.5rem;
        width: 1.5rem;
        
    
    }
    
    
    .rnd-btn-2{
       
        height: 2rem;
        width: 2rem;
 
    }
       
    
.ikon-2{
    
    font-size: 10px;
}

    
   
    
   
}
